.playground {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.toolbar {
    display: flex;
    overflow: auto;
    align-items: center;
    background-color: #E0EBF5;
    padding: .5rem;
}
.toolbar .ui-title {
    margin: 0;
    white-space: nowrap;
    margin-right: .5rem;
}
.toolbar .ui-button {
    margin-right: .5rem;
}
.toolbar .ui-input {
    max-width: 20rem;
    margin-right: .5rem;
    display: none;
}
.toolbar .ui-select {
    width: unset;
    min-width: 100px;
}
.body {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    min-height: 0;
}
.editorPanel {
    display: flex;
    padding: .3rem 0;
    width: 100%;
    overflow: hidden;
    flex-basis: 50%;
}  
.consolePanel {
    display: flex;
    flex-basis: 50%;
    background: #292926;
    color: #fff;
    padding: 1rem;
    font-family: monospace;
    font-size: .8rem; 
    overflow-y: auto;
    white-space: pre-line;
    position: relative;
}